body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

li {
  color: rgb(255, 255, 255);
  background-color: rgba(2, 84, 65, 0.849);
  list-style: none;
  max-width: 500px;
  width: 225px;
  font-size: small;

  border-radius: 25px;
  padding: 12px;
  display: flex;
}

form {
  max-width: fit-content;
}
.formsecc {
  max-width: fit-content;
}
